<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <link rel="stylesheet" href="css/styles.css">

  <style>
    .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #2C3333;
    border-radius: 0.3rem;
}
  body {
    background-color: #2C3333;
    color:white;
  }
  h1{
    color:white;
  }

  .container {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
  </style>
</head>

<body>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1>Dark Web Crawler</h1>
    <h6>Monitor Activities on Dark Web</h6>
    <hr>
    <a class="btn btn-light btn-lg" href="/admin" role="button">Admin </a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Govt.Official</a>

  </div>
</div>


</body>
</html>
